:root {
    /* Colors */
    --color-background: #ffffff;
    --color-surface: #6c588b;
    --link-color: #ffffff;
    --text-primary: #381b49;
    --text-secondary: #444444;
    --color-accent: #d2bcf5;
    --color-button: #381b49;
    --color-hover-button: #1d0e25;

    --card-background: #b2a3ba;
    --card-placeholder: #f5f0ea;
    --searchbar-background: #c1b5be;
    --searchbar-accent: #333;
    --divider-color: #6c588b;

    --color-white: #ffffff;
    --color-black: #000000; 
    --color-hover-light: #f5f5f5; 
    --color-shadow: rgba(0, 0, 0, 0.2); 

    --overlay-background-transparent: rgba(0, 0, 0, 0.5);
    --transparent-overlay:rgba(0, 0, 0, 0.2);

    /* Typography */
    --font-body: "Atkinson Hyperlegible", system-ui, sans-serif;
    --font-heading:  "Staatliches", system-ui, sans-serif;
    --font-code: monospace;

    /* Font Sizes */
    --font-base: 1rem;
    --font-sm: 0.875rem;
    --font-md: 0.9rem;
    --font-lg: 1.25rem;
    --font-xl: 2rem;

    /* Spacing */
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;

    --card-padding: 20px;
    --card-radius: 12px;
    --gap-lg: 30px;

    /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px; 
}