:root {
    /* Colors */
    --color-background: #ffffff;
    --color-surface: #f0f0f0;
    --text-primary: #000000;
    --text-secondary: #444444;
    --color-accent: #701aa1;

    --card-background: #9d9b9b;
    --card-placeholder: #ebeaea;
    --searchbar-background: #bbb;
    --searchbar-accent: #333;
    --divider-color: #161616;

    --overlay-background-transparent: rgba(0, 0, 0, 0.5);
    --transparent-overlay:rgba(0, 0, 0, 0.2);

    /* Typography */
    --font-body: system-ui, sans-serif; 
    --font-heading: system-ui, sans-serif;
    --font-code: monospace;

    /* Font Sizes */
    --font-base: 1rem;
    --font-sm: 0.875rem;
    --font-lg: 1.25rem;

    /* Spacing */
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;

    --card-padding: 20px;
    --card-radius: 12px;
    --gap-lg: 30px;

    /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
}